<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/ico" href="/favicon.ico?raw=true">
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://w.soundcloud.com/player/api.js"></script>
        <script src="/js/lib/soundcloud.js"></script>
		<script src="/js/lib/cookie.js"></script>
        <script>

var countdownStarted = 0;
var countdown;

var reloadCountdown = function () {
	var videoElt = document.createElement("span");
	videoElt.innerHTML = '&nbsp;' + countdown;
	document.getElementById('videodiv').appendChild(videoElt);
    if (countdown == 0) {
        location.reload();
    } else {
        countdown -= 1;
        setTimeout(reloadCountdown, 1000);
    }
};

// if client is more than this many seconds out of sync, reload
var syncLimit = 30;

function updateVideo(content) {
    var desync = Math.abs(content.mediaSecondsElapsed - content.playerSecondsElapsed);
    // Reload if playing wrong media item or more than a minute from cue
    if (content.expectedMID != content.actualMID || desync > syncLimit) {
        location.reload();
    }
    if (content.restartState && (! countdownStarted)) {
        countdownStarted = 1;
        countdown = 30;
        var videoElt = document.createElement("span");
        videoElt.innerHTML = 'reloading in';
        document.getElementById('videodiv').appendChild(videoElt);
        reloadCountdown();
    }
    // console.log(content);
	// var videoElt = document.createElement("div");
	// videoElt.innerHTML = JSON.stringify(content);
	// document.getElementById('videodiv').appendChild(videoElt);
}
var host = window.document.location.host.replace(/:.*/,'');
var ws = new WebSocket('ws://' + host + ':3003');
ws.onmessage = function (event) {
    // console.log(event.data);
	updateVideo(JSON.parse(event.data).content);
	;
};

function sendmsg(content) {
	if (ws.readyState != WebSocket.OPEN) {
		console.log("websocket is closed");
		return;
	}
	if (! content) {
		content = 'video';
	}
	var data = {
		content: content
	};
	ws.send(JSON.stringify(data));
}

var state;

function sendpulse() {
    var now = Date.now();
	var handle = getCookie("handle");
    var mid = document.getElementById('videomid').value;
    var pulsedata = {now:now,handle:handle,mid:mid};
    var playTime = (now - state.stateInitAt) / 1000;
    pulsedata.playerSecondsElapsed = state.secondsElapsed + playTime;
	sendmsg(pulsedata);
}

var pulse = 0;
function pageLoaded() {
	console.log("handle = " + getCookie("handle"));
	pulse = setInterval(sendpulse,2000);
	setTimeout(function () { location.reload(); },
					{{data.secondsRemaining}} * 1000);
}

state = {
    SCoffsetMilliseconds : 1000 * {{data.secondsElapsed}},
    secondsTotal : {{data.secondsTotal}},
    secondsElapsed : {{data.secondsElapsed}},
    stateInitAt : Date.now(),
    mediaNetwork : 'personality'
};

{{#if data.mediaIsSoundcloud}}
state.mediaNetwork = "soundcloud";
{{/if}}
{{#if data.mediaIsYoutube}}
state.mediaNetwork = "youtube";
{{/if}}
{{#if data.mediaIsDailymotion}}
state.mediaNetwork = "dailymotion";
{{/if}}
{{#if data.mediaIsImage}}
state.mediaNetwork = "image";
{{/if}}
{{#if data.mediaIsTitle}}
state.mediaNetwork = "title";
{{/if}}
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Bot Will Accept Anything</title>
        <meta name="author" content="Sync Music Video">
        <link rel="stylesheet" type="text/css" href="/css/media.css" />
    </head>
    <body id="BodyVideo" onload="pageLoaded()">
    <center>
    <h3 id="Header" style="border: 2px dotted white">BWAA TV</h3>
    <p>MERCY SHINE REMEMBER ARCATA HATES PRACTICE</p>
    <div class="ContentA">
        {{{body}}}
    </div>
    </center>
    </body>
</html>
