{{#if data.mediaIsAudio}}
<h1>{{data.title}}</h1>
{{/if}}

{{#if data.mediaIsYoutube}}
<iframe width="336" height="189" src="https://www.youtube.com/embed/{{data.mid}}?start={{data.secondsElapsed}}&autoplay=1" frameborder="0" allowfullscreen></iframe>
{{/if}}

{{#if data.mediaIsArchive}}
<iframe src="https://archive.org/embed/{{data.mid}}&autoplay=1" width="336" height="189" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
{{/if}}

{{#if data.mediaIsTitle}}
<h1>{{data.title}}</h1>
{{/if}}

{{#if data.mediaIsStory}}
<h1>{{data.title}}</h1>
{{#each data.content}}
<p>{{this}}</p>
{{/each}}
{{/if}}

{{#if data.mediaIsImage}}
<img width="336px" src="{{data.mid}}"></img>
{{/if}}

{{#if data.mediaIsInstagram}}
<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
    <div style="padding:8px;">
        <div style="background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5% 0; text-align:center; width:100%;">
            <div style="background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
            </div>
        </div>
        <p style="margin:8px 0 0 0; padding:0 4px;"><a href="{{data.mid}}" style="color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">{{data.title}}</a></p>
        <p style="color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by {{data.name}} (@{{data.handle}}) on <time style="font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="{{data.datetime}}">{{data.datestring}}</time></p>
    </div>
</blockquote>
{{/if}}

{{#if data.mediaIsDailymotion}}
<iframe frameborder="0" width="336" height="189" src="//www.dailymotion.com/embed/video/{{data.mid}}?autoPlay=1&start={{data.secondsElapsed}}" allowfullscreen></iframe>
{{/if}}

{{#if data.mediaIsSoundcloud}}
<iframe id="sciframe" width="336" height="189" scrolling="no" frameborder="no"
src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{data.mid}}&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
{{/if}}

<div id="videodiv"></div>
<input style="display:none;" id="videomid" value="{{data.mid}}"></input>
