{{#if data.mediaIsYoutube}}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{data.mid}}?start={{data.secondsElapsed}}&autoplay=1" frameborder="0" allowfullscreen></iframe>
{{/if}}

{{#if data.mediaIsTitle}}
<h1>{{data.title}}</h1>
{{/if}}

{{#if data.mediaIsImage}}
<img src="{{data.mid}}"></img>
{{/if}}

{{#if data.mediaIsDailymotion}}
<iframe frameborder="0" width="560" height="315" src="//www.dailymotion.com/embed/video/{{data.mid}}?autoPlay=1&start={{data.secondsElapsed}}" allowfullscreen></iframe>
{{/if}}

{{#if data.mediaIsSoundcloud}}
<iframe id="sciframe" width="560" height="315" scrolling="no" frameborder="no"
src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{data.mid}}&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
{{/if}}

<div id="videodiv"></div>
<input style="display:none;" id="videomid" value="{{data.mid}}"></input>
